.page6{
    width: 100%;
    height: 110%;
    background: url(../images/bg_4.jpg);
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-areas: 
        ".. head .."
        "row1_1 row1_2 row1_3"
        "row2_1 row2_2 row2_3"
    ;
}
.page6 div:nth-child(1){
    grid-area: head;
    text-align: center;
}
.page6 div:nth-child(1)>h3{
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 5px;
    padding: 50px 0 30px 0;
    text-transform: uppercase;
}
.page6 p{
        color: #806d6d;
        font-size : 17px;
}
.page6 div:nth-child(2){
    grid-area: row1_1;
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-areas: 
        "foto1 text1"
    ;
    justify-items: stretch;
}
.page6 div:nth-child(2)>div:nth-child(1){
    grid-area: foto1;
    background: url(../images/pizza-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 265px;
}
.page6 div:nth-child(2)>div:nth-child(2){
    padding: 10px;
    grid-area: text1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(5, 4, 4, 0.314);
}


.page6 div:nth-child(3){
    grid-area: row1_2;
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-areas: 
        "foto2 text2"
    ;
    justify-items: stretch;
}
.page6 div:nth-child(3)>div:nth-child(1){
    grid-area: foto2;
    background:url(../images/pizza-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 265px;
}
.page6 div:nth-child(3)>div:nth-child(2){
    grid-area: text2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(5, 4, 4, 0.314);
}

.page6 div:nth-child(4){
    grid-area: row1_3;
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-areas: 
        "foto3 text3"
    ;
    justify-items: stretch;
}
.page6 div:nth-child(4)>div:nth-child(1){
    grid-area: foto3;
    background:url(../images/pizza-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 265px;
}
.page6 div:nth-child(4)>div:nth-child(2){
    padding: 10px;
    grid-area: text3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(5, 4, 4, 0.314);
}
.page6 div:nth-child(5){
    grid-area: row2_1;
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-areas: 
        "text4 foto4"
    ;
    justify-items: stretch;
}
.page6 div:nth-child(5)>div:nth-child(1){
    grid-area: foto4;
    background:url(../images/pizza-4.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 265px;
}
.page6 div:nth-child(5)>div:nth-child(2){
    padding: 10px;
    grid-area: text4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(5, 4, 4, 0.314);
}
.page6 div:nth-child(6){
    grid-area: row2_2;
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-areas: 
        "text5 foto5"
    ;
    justify-items: stretch;
}
.page6 div:nth-child(6)>div:nth-child(1){
    grid-area: foto5;
    background:url(../images/pizza-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 265px;
}
.page6 div:nth-child(6)>div:nth-child(2){
    padding: 10px;
    grid-area: text5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(5, 4, 4, 0.314);
}
.page6 div:nth-child(7){
    grid-area: row2_3;
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-areas: 
        "text6 foto6"
    ;
    justify-items: stretch;
}
.page6 div:nth-child(7)>div:nth-child(1){
    grid-area: foto6;
    background:url(../images/pizza-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 265px;
}
.page6 div:nth-child(7)>div:nth-child(2){
    padding: 10px;
    grid-area: text6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(5, 4, 4, 0.314);
}
.btn{
    text-align: center;
    font-size: 17px;
    width: 70px;
    height: 30px;
    border: 1px solid wheat;
    margin-right: 100px;
    cursor: pointer;
}
.page6 span{
    font-size: 17px;
    font-weight: 300;
    padding-top: 5px;
    color: $font-hover;
    width: fit-content;
}
h4{
    letter-spacing: 3px;
}
